<div class="container center-align">
  <form action="/weather" method="POST" class="mt-4">
    <input type="text" name="cityName" placeholder="Enter a City" class="form-control">
    <input style="margin-top: 1em;" type="submit" value="Submit" class="btn waves-effect waves-light">
  </form>
  <p>{{cityName}}</p>
</div>